/* GENERAL (colors, links, containers) */
:root {
    --light: #dde4da;
    --mid: #699c38;
    --dark: #2d4715;
    --highlight: rgba(220, 227, 217, 0.5);
}
a {
    position: absolute;
    bottom: 5px;
    text-decoration: none;
    color: var(--dark);
}
.container {
    display: grid;
    place-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: var(--mid);
    color: var(--light);
    /* text-align: right; */
    font-family: 'Roboto Mono', monospace;
}
.container2 {
    position: relative;
    width: 100%;
    height: 80%;
    overflow-y: scroll;
}

/* HEADER (title, event form) */
.title {
    position: fixed;
    top: 10%;
    left: 10%;
    margin: 0;
    height: 50px;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
h1 {
    font-size: 1.5rem;
    padding: 0;
    margin: 0;
}
form {
    min-width: 400px;
    height: 1.6rem;
    display: flex;
    opacity: 0%;
    transition: .5s;
}
form:hover {
    opacity: 100%;
}
select {
    -webkit-appearance: none;
    border-radius: 0;
    outline: 0;
    border-width: 0 0 1px;
    border-color: var(--light);
    margin-right: 10px;
    background: inherit;
    color: inherit;
    font-family: inherit;
}
input {
    flex: 1;
    outline: 0;
    border-width: 0 0 1px;
    border-color: var(--light);
    margin-right: 10px;
    background: inherit;
    color: inherit;
    font-family: inherit;
}
input::placeholder {
    color: var(--light);
    opacity: 50%;
}
button {
    border: 1px solid var(--light);
    background: inherit;
    color: inherit;
    font-family: inherit;
    transition: .5s;
}
button:hover {
    background: var(--highlight);
}

/* YEAR LAYOUT (column-major, horiz scroll) */
.year {
    width: 500%;
    height: 100%;
    margin: 0 10%;
    overflow-x: hidden;
    overflow-y: scroll;
}
.calendar {
    margin-top: 50px;
    border-top: 1px solid var(--light);
    width: 100%;
    height: calc(100% - 51px);
    display: grid;
    grid-template-areas:
        "d1 d4 d7 d10 d13 d16 d19 d22 d25 d28 d31 d34 d37 d40 d43 d46 d49 d52 d55 d58 d61 d64 d67 d70"
        "d2 d5 d8 d11 d14 d17 d20 d23 d26 d29 d32 d35 d38 d41 d44 d47 d50 d53 d56 d59 d62 d65 d68 d71"
        "d3 d6 d9 d12 d15 d18 d21 d24 d27 d30 d33 d36 d39 d42 d45 d48 d51 d54 d57 d60 d63 d66 d69 d72";
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1px;
    background: var(--light);
}

/* KOU LAYOUT (labels) */
.kou {
    position: relative;
    padding: 5px 5px;
    background: var(--mid);
    transition: .5s;
}
.kou:hover {
    opacity: 70%;
}
.label {
    position: absolute;
    width: calc(100% - 20px);
    bottom: 5px;
    left: 10px;
    opacity: 100%;
    transition: 0.5s;
}
.kou:hover > .label {
    opacity: 0%;
    /* display:none; */
}

/* EVENT LAYOUT */
.event {
    /* color: var(--text); */
    display: flex;
    flex-direction: row;
    opacity: 0%;
    transition: .5s;
    width: auto;
    padding: 0 5px;
}
.kou:hover > .event {
   opacity: 100%;
   cursor: pointer;
}
.bullet {
    margin-right: 1ch;
}
.eventful:hover {
    opacity: 100%;
    background: var(--dark);
}

/* RESPONSIVE */
/* @media only screen and (max-width: 900px) {
    .container {
        overflow-x: hidden;
    }
    .container2 {
        height: 70%;
        margin-bottom: 25%;
    }
    .month {
        width: 1200%;
    }
} */